.homeButton {
    background-color: rgb(205, 205, 205);
    position: absolute;
    width: 25%;
    height: 10%;
    font: italic bold 25px ariel,serif;
    border-radius: 10%;
    border: 0.5px solid black;
    z-index: 1;
    left: 37.5%;
}