.iframeContent {
    width: 100%;
    height: 100%;
}

.textBoxDiv {
    width: 100%;
    height: 5%;
}

.buttonDiv {
    width: 100%;
    height: 7%;
}

#classCodeDiv {
    align-content: center;
}

.textBox {
    height: 100%;
    text-align: center;
    border-radius: 5%;
    border: 1px solid gray;
    background-color: white;
    font: bold 2vmin ariel,serif;
}

#classCodeBox {
    width: 30%;
}

.yearDateTextBox {
    position: relative;
    width: 20%;
}

#startYearBox {
    left:-2%;
}

#endYearBox {
    left: 2%;
}

.curriculumButton {
    width: 25%;
    position: relative;
    color: gray;
}

#CreateCurriculumButton {
    left: -3%;
}

#OldCurriculumButton {
    left: 3%;
}

.loadCurriculumDropDownMenu {
    text-align: center;
    font-size: 3vmin;
}

.oldCurriculumSelectOptionButton {
    width:35%;
    position: relative;
    top:100%;
}

#oldCurriculumSaveOption {
    left: -3%;
}

#oldCurriculumViewOption {
    left: 3%;
}

#viewOldCurriculumIframe {
    border: 0px solid black;
    border-radius: 2%;
    width: 90%;
    left: 5%;
    position: absolute;
    overflow: auto;
}

.taskOptionButton {
    position: relative;
    width: 35%;
    height: 5vh;
    font: 3vmin ariel,serif;
    border-radius: 5%;
    border: 1px solid black;
    background-color: white;
}

#selectOldTaskButton {
    left: -3%;
}

#createNewTaskButton {
    left: 3%;
}

#saveTaskButton {
    left: -3%;
}

#cancelTaskButton {
    left: 3%;
}

#saveClassSettings {
    left: -3%;
}

#cancelClassSettings {
    left: 3%;
}

.popupBackgroundDiv {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.popupItself {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    z-index: 101;
    background-color: white;
    border-radius: 5%;
    border: 2px solid gray;
    text-align: center;
    align-content: center;
}

.saveButtonForCreateCurriculum {
    position: absolute;
    top: 2%;
    right: 5%;
}

.frameDivsInCreateTaskListPopup {
    display: inline-block;
    width:45%;
    height:100%;
    position: relative;
}

#taskNameDivInCreateTaskList {
    left: -2%
}

#taskExpectationDivInCreateTaskList {
    left: 2%;
}

#bigDiv {
    width: 100%;
    height: 25%;
    align-content: center;
}

.createTaskListPopupTextBox {
    height: 25%;
    width: 50%;
    text-align: center;
    border-radius: 5%;
    border: 1px solid gray;
    background-color: white;
    font: bold 2vmin ariel,serif;
}

#descriptionTextboxInCreateTaskList {
    height: 20%;
    width: 65%;
    font: normal 2vmin ariel,serif;
    resize: none;
}

#saveUserInputInCreateTaskListButton {
    position: relative;
    top: 6%;
    height: 7%;
    width: 35%;
}

.chooseClassDropDownCurrent{
    text-align: center;
    font-size: 3vmin;
}

.currentClassIframeButton {
    position: relative;
    width: 30%;
    height: 7vh;
    top: 3vh;
    background-color: white;
    border-radius: 5%;
    font:bold 3vmin ariel,serif;
    color: black;
    border: 1px solid gray;
    visibility: hidden;
}